*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

body{
    font-family: 'Basis Grotesque Pro';
}


nav{
    background-color: red;
    height: 3.75rem;
    display: flex;
}

.navContainer{
    width: 100%;
    max-height: 3.75rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header{
    min-height: 27.37rem;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/img18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.headerContainer{
    display: flex;
    justify-content: center;
    .headerContainer__headliner{
        color: white;
        margin-top: 1.5625rem;
        .headerContainer_title{
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 4.37rem;
        }
        .headerContainer__subtitle{
            display: flex;
            justify-content: center;
            font-size: 1.68rem;
            margin-top: 0;
        }
        .headerContainer_recommendation{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: .70rem;
        }
            .headerContainer__icon{
                display: flex;
                align-items: center;
                margin-left: 2.80rem;
            }
            .headerContainer__level{
                display: flex;
                justify-content: center;
                font-size: 0.75rem;
                font-weight: lighter;
                position: relative;
                left: 1rem;
            }
    }
}

main{
    display: grid;
    grid-template-columns: 12.50rem 1fr 12.50rem;
    grid-template-rows: 4.301rem 12.1875rem;
    .mainTitle{
        font-weight: bold;
        grid-column: 2 / 3;
        align-self: flex-end;
        font-size: 1.875rem ;
    }
    .mainIcon{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: flex-end;
        margin-right: .6rem;
    }
    .mainDescription{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }
}

section{
    .sectionGallery{
        width: 100%;
        height: 27.25rem;
        .slider{
            width: 100%;
            height: 27.25rem;
            background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/img/img11.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.detailsboard{
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: 12.50rem repeat(2, auto) 12.50rem;
    font-size: 0.875rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    .details__title{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: flex-end;
        font-size: 1.875rem;
        font-weight: bold;
    }
    .details__icon{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: flex-end;
        margin-right: .6rem;
    }
    .details__type1{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

    }
    .details__value1{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .details__type2{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .details__value2{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .details__type3{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .details__value3{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    .details__type4{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .details__value4{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
    .details__type5{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 10 / 11;
    }
    .details__value5{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 11 / 12;
    }
    .details__type6{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 12 / 13;
    }
    .details__value6{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }
    .details__type7{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 14 / 15;
    }
    .details__value7{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 2 / 3;
        grid-row: 15 / 16;
    }
    .details__type8{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .details__value8{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .details__type9{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    .details__value9{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    .details__type10{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }
    .details__value10{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }
    .details__type11{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }
    .details__value11{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 9 / 10;
    }
    .details__type12{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 10 / 11;
    }
    .details__value12{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 11 / 12;
    }
    .details__type13{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 12 / 13;
    }
    .details__value13{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 13 / 14;
    }
    .details__type14{
        color: #EB6930;
        align-self: center;
        justify-self: flex-start;
        grid-column: 3 / 4;
        grid-row: 14 / 15;
    }
    .details__value14{
        align-self: center;
        justify-self: flex-start;
        font-size: 1rem;
        grid-column: 3 / 4;
        grid-row: 15 / 16;
    }
}


.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    min-height: 25rem;
    grid-gap: 1rem;
    .imageContainer{
        border-radius: 0.4rem;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.6s ease-out;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

.modal{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in;
    p{
        color: white;
        font-weight: lighter;
        font-size: 1rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }
.full-img{
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25 ease-out;
}
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.fullimg.open{
    transform: translate(-50%, -50%) scale(2);
}

#map{
    margin-top: 2.5rem;
    height: 31.25rem;
    width: 100%;
}

.main{
    margin-top: 2.5rem;
}

.feed-container{
    display: flex;
    justify-content: center;
    color: white;
    h2{
        color: white;
    }
}

.feedback{
    color: white;
}
.main{
    font-family: 'Basis Grotesque Pro';
}

.main .contacto .datos {
    padding: 5.625rem 0 11.875rem 0;
    position: relative;
    background-image: url('/img/img13.jpg');
    background-size: cover;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main .contacto .datos .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(20, 22, 24, 0.3);
    top: 0;
    z-index: 1;
  }
  .main .contacto .datos .container {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main .contacto .datos .container .blurb {
    background: #fff;
    border: 6px double #eaeaea;
    padding: 2.25rem;
    text-align: center;
    width: 25%;
  }
  .main .contacto .datos .container .blurb h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6875rem;
    margin-bottom: 1.125rem;
    border-bottom: 1px solid #eaeaea;
  }
  .main .contacto .datos .container .blurb p {
    font-size: 1rem;
    color: #777777;
  }
  .main .contacto .formulario {
    position: relative;
    z-index: 3;
    background: #fff;
    max-width: 40.625rem;
    margin: 0 auto;
    padding: 2.25rem;
    margin-top: -6.25rem;
    width: 90%;
  }
  .main .contacto .formulario .formulario_contacto .input-group {
    position: relative;
    margin-bottom: 32px;
  }
  .main .contacto .formulario .formulario_contacto .input-group input[type="text"],
  .main .contacto .formulario .formulario_contacto .input-group input[type="email"],
  .main .contacto .formulario .formulario_contacto .input-group textarea {
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    color: #303133;
    width: 100%;
    outline: none;
    padding: 15px 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    vertical-align: top;
  }
  .main .contacto .formulario .formulario_contacto .input-group input[type="text"]:focus,
  .main .contacto .formulario .formulario_contacto .input-group input[type="email"]:focus,
  .main .contacto .formulario .formulario_contacto .input-group textarea:focus {
    outline: none;
    border-bottom: 2px solid #EB6930;
  }
  .main .contacto .formulario .formulario_contacto .input-group textarea {
    max-width: 100%;
    max-height: 10.25rem;
    min-height: 5.125rem;
    min-width: 100%;
  }
  .main .contacto .formulario .formulario_contacto .input-group label {
    color: #777;
    font-family: 'Basis Grotesque Pro';
  }
  .main .contacto .formulario .formulario_contacto .input-group label.label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 1rem;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .main .contacto .formulario .formulario_contacto .input-group label.label.active {
    top: -12px;
    margin-left: 0;
    font-size: 12px;
    line-height: 12px;
    color: #777;
  }
  .main .contacto .formulario .formulario_contacto .input-group .error {
    position: absolute;
    color: #EB6930;
    font-family: 'Basis Grotesque Pro';
    font-size: 0.875rem;
  }
  .main .contacto .formulario .formulario_contacto input[type="submit"] {
    font-family: 'Basis Grotesque Pro';
    background: black;
    color: #fff;
    border-radius: 1px;
    border: 2px solid #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 3.125rem;
    padding: 15px;
    width: 20%;
    outline: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .main .contacto .formulario .formulario_contacto input[type="submit"]:hover {
    background: #EB6930;
  }
  /*-------------------------------------------------------------*/
  /*Footer*/
  /*-------------------------------------------------------------*/
  footer {
    margin-top: 2.25rem;
    background: #141618;
    padding: 3.625rem 0;
    text-align: center;
    color: #fff;
  }
  footer .bottom-redes {
    margin-top: 36px;
  }
  footer .bottom-redes a {
    padding: 0 9px;
    color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  footer .bottom-redes a:hover {
    color: #b4975a;
  }


 @media all and (max-width: 53.125rem){
    main{
        grid-template-columns: 5rem 1fr 5rem;
    }
 }

 @media all and (max-width: 44.875rem){
    .detailsboard{
        grid-template-columns: 5rem repeat(2, auto);
    }
    .full-img{
        width: 100%;
    }
 }


 @media all and (max-width: 37.5rem){
    main{
        grid-template-columns: 4rem 1fr 2rem;
        font-size: 0.8125rem;
        }
        img{
            width: 2rem;
    }
}

@media all and (max-width: 25.5rem){
    .detailsboard{
        font-size: 0.8125rem;
    }
    .details__value1,
    .details__value2,
    .details__value3,
    .details__value4,
    .details__value5,
    .details__value6,
    .details__value7,
    .details__value8,
    .details__value9,
    .details__value10,
    .details__value11,
    .details__value12,
    .details__value13,
    .details__value14{
        font-size: 0.75rem;
    }
}


@media all and (max-width: 18.75rem){
    .mainTitle{
        font-size: 1.25rem;
    }
}
